html {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    width: 70vw;
    height: 90vh;
    margin: 0 auto;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    padding: 10px;
    border-radius: 5px;
}

nav > ul {
    display: flex;
    align-items: center;
    padding-top: 8px;
}

nav > ul > li {
    padding: 3px;
}

header nav ul li a:hover {
    color: brown;
}

header nav ul li a:active {
    color: blue;
}

nav ul li a:visited, nav ul li a  {
    color: black;
}


/* MAIN */
.main {
    background-color: blanchedalmond;
    padding-left: 10px;
    padding-right: 3px;
    /* margin-top: 3px; */
    border-radius: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.cook {
    padding-top: 10px;
}

.coffee {
    display: flex;
    justify-content: center;
}

.coffee > figure > img, .cooking > figure > img {
    border-radius: 5px;
    transition-duration: 800ms;
    transition-timing-function: linear;
}

.coffee > figure > img:hover, .cooking > figure > img:hover {
    transform: scale(1.3);
}


ul > li {
    list-style-type: none;
}

ul li a, a {
    text-decoration: none;
}

/* FOOTER */
footer {
    /* width: 60%; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: antiquewhite;
    border-radius: 5px;
}

footer a {
    padding: 10px;
}

.foot{
    margin-bottom: 20px;
}

/* SPECIAL MENU */
.special h3 a:visited {
    color: black;
}

.special h3 a:hover {
    color: brown;
}

.special h3 a:active {
    color: blue;
}

h3 {
    text-align: center;
}

.icons {
    width: 50px;
    height: 50%;
}

/* SALISBURY MIDWEST */
.s-image {
    margin: 0 auto;
    width: 300px;
    height: 300px;
    display: block;
    border-radius: 5px;
}
.midwest {
    text-align: center;
}

header nav ul li button {
    border-color: none;
    border-radius: 5px;
    font-size: medium;
}

/* Thai Pork */

.t-image {
    margin: 0 auto;
    width: 300px;
    height: 300px;
    display: block;
    border-radius: 5px;
}
.thai {
    text-align: center;
}

header nav ul li button {
    border-color: none;
    border-radius: 5px;
    font-size: medium;
}

/* Keto */

.k-image {
    margin: 0 auto;
    width: 300px;
    height: 300px;
    display: block;
    border-radius: 5px;
  }

.keto {
    text-align: center;
}
  
 
header nav ul li button {
    border-color: none;
    border-radius: 5px;
    font-size: medium;
}

main section div.cooking img {
    width: 50%;
}

main section div img {
    width: 100%;
}

@media only screen and (max-width: 540px) {
    header nav ul {
        display: flex;
        flex-direction: column;
    }

    body {
        width: 90vw;
        margin: 0 auto;
    }

    div .coffee {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .icons {
        width: 50px;
        height: 40%;
    }

    footer > .foot {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    footer > .foot {
        margin: 0 auto;
        padding-top: 30px;
     
    }

    .common {
        width: 70%;
        height: 50%;
    }
}
